/* CSS Reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto' , sans-serif;
}

/* ---------------------------------------------------------------------- */

/* Custom properties */

:root {
	--grey: #ECECEC;
	--yellow: #F3D250;
	--light-yellow: #F8E7A0;
	--dark-yellow: #EEC211;
	--blue: #90CCF4;
	--light-blue: #B9DFF8;
	--dark-blue: #5DB4EF;
	--text-blue: #337ab7;
	--pink: #F78888;
	--light-pink: #FAB7B7;
	--dark-pink: #F57070;
	--text-pink: #F02828;
}

/* ---------------------------------------------------------------------- */

/* Helper Classes */

.text-blue {
	color: var(--text-blue);
}

.text-pink {
	color: var(--text-pink);
}

.bg-grey {
	background-color: var(--grey);
}

.bg-yellow {
	background-color: var(--yellow);
}

.bg-light-yellow {
	background-color: var(--light-yellow) !important;
}

.bg-dark-yellow {
	background-color: var(--dark-yellow) !important;
}

.bg-blue {
	background-color: var(--blue);
}

.bg-light-blue {
	background-color: var(--light-blue) !important;
}

.bg-dark-blue {
	background-color: var(--dark-blue) !important;
}

.bg-pink {
	background-color: var(--pink);
}

.bg-light-pink {
	background-color: var(--light-pink) !important;
}

.bg-dark-pink {
	background-color: var(--dark-pink) !important;
}

.round-top-left {
	border-radius: 30px 0 0 0 !important;
}

.round-top-right {
	border-radius: 0 30px 0 0;
}

.round-bottom-right {
	border-radius: 0 0 30px 0;
}

.round-bottom-left {
	border-radius: 0 0 0 30px;
}

a {
	text-decoration: none;
	transition: 0.5s;
	color: black;
}

a:hover {
	color: white;
	cursor: pointer;
}

.w-150 {
	min-width: 150px;
}

.w-300 {
	min-width: 300px;
}

/* ---------------------------------------------------------------------- */

/* Header */

header nav .nav-item .nav-link {
	color: black !important;
	transition: 0.5s;
	font-size: 1.25rem;
}

header nav .nav-item .nav-link:hover {
	color: white !important;
	cursor: pointer;
	border-radius: 1.5rem !important;
}

header .title h1 {
	font-size: clamp(2.5rem , 7vw , 3.25rem);
}

/* ---------------------------------------------------------------------- */

/* Table */

.table-responsive .table  {
	border: 0px solid transparent !important;
}

